@font-face {
	font-family: 'Open Sans';
	font-weight: 300 800;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #fff;
	--card-color: #f2f2f2;
	--font-color: #222;
	--secondary-font-color: #444;
	--outline-color: #aaa;
	--helping-line-color: #e6e6e6;
	--error-color: red;
	--primary-color: #0f7d0f;
	--button-danger-color: #b30e0e;
	--focus-color: #fff;
	--title-color: #0f7d0f;
	--icon-bg-color: #e6e6e6;
	--highlight-link-color: #2a87ac;
}

:root[data-theme='dark'] {
	--bg-color: #222;
	--card-color: #19191c;
	--font-color: #eee;
	--secondary-font-color: #bbb;
	--outline-color: #666;
	--helping-line-color: #333;
	--error-color: #ff4d4d;
	--primary-color: #116e11;
	--button-danger-color: #b30e0e;
	--focus-color: #2e2e2e;
	--title-color: #ffff00;
	--icon-bg-color: #444;
	--highlight-link-color: #87ceeb;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	background-color: var(--bg-color);
	color: var(--font-color);
}

.wrapper {
	padding-inline: 0.75rem;
	max-width: 42rem;
	margin-inline: auto;
	margin-bottom: 2rem;
}

a {
	color: inherit;
	text-underline-offset: 2px;
	text-decoration-color: var(--secondary-font-color);

	&:focus-visible {
		outline: 1px solid var(--secondary-font-color);
		outline-offset: 2px;
	}

	&.highlight {
		color: var(--highlight-link-color);
		text-decoration-color: var(--highlight-link-color);
	}
}

p {
	margin-block: 1rem;
}

h1,
h2 {
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.25rem;
	margin-bottom: 0.75rem;

	&.large {
		font-size: 1.5rem;
	}
}

.app-header {
	display: grid;
	grid-template-columns: 1fr auto;
	padding-block: 1rem;
	gap: 0.5rem;

	.menu {
		display: flex;
		gap: 0.5rem;
	}
}

summary {
	cursor: pointer;
}

input,
button,
select,
textarea,
select {
	font: inherit;
	color: inherit;
	border: none;
	background: var(--bg-color);
}

button {
	cursor: pointer;

	&:focus-visible {
		outline: 2px solid var(--secondary-font-color);
		outline-offset: 2px;
	}
}

.button {
	background-color: var(--primary-color);
	color: #fff;
	padding: 0.15rem 0.6rem;
	border-radius: 0.25rem;
	white-space: nowrap;

	&.danger {
		background-color: var(--button-danger-color);
	}

	&:disabled {
		opacity: 0.5;
		cursor: initial;
	}

	&.small {
		padding: 0.1rem 0.4rem;
		font-size: 0.875rem;
	}
}

.input-group {
	margin-bottom: 1rem;

	label {
		display: block;
		color: var(--secondary-font-color);
		font-size: 0.875rem;
		margin-bottom: 0.2rem;

		@media (min-width: 600px) {
			font-size: 1rem;
		}
	}

	input,
	textarea,
	select {
		width: 100%;
		padding: 0.25rem 0.5rem;
		outline: 1px solid var(--outline-color);
		border-radius: 0.25rem;
	}

	input:focus-visible,
	textarea:focus-visible,
	select:focus-visible {
		outline: 1px solid var(--secondary-font-color);
		background-color: var(--focus-color);
	}

	textarea {
		resize: vertical;
		height: 3rem;
	}
}

.input-with-button {
	display: flex;
	gap: 0.5rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	appearance: textfield;
}

.error {
	margin-top: 1rem;
	color: var(--error-color);
}

.message {
	margin-top: 1rem;
	color: var(--title-color);
}

.secondary {
	color: var(--secondary-font-color);
}

.list {
	margin-block: 1rem;
	padding-left: 1.25rem;

	li {
		margin-block: 0.5rem;
	}

	&.no-bullets {
		list-style: none;
		padding-left: 0.25rem;
	}
}

.card {
	background-color: var(--card-color);
	padding: 1.2rem 1rem;
	border-radius: 0.5rem;
	margin-bottom: 1.25rem;
}

pre {
	background-color: black;
	color: greenyellow;
	padding: 0.5rem;
	border-radius: 0.25rem;
	overflow: auto;
}

.no-margin {
	margin: 0;
}

.explanation {
	font-size: 0.825rem;
	line-height: 1.4;
	color: var(--secondary-font-color);
}
