@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: white;
	--card-color: #f2f2f2;
	--font-color: #222;
	--secondary-font-color: #444;
	--outline-color: #aaa;
	--helping-line-color: #e6e6e6;
	--error-color: red;
	--primary-color: rgb(15, 125, 15);
	--button-danger-color: rgb(179, 14, 14);
	--focus-color: white;
	--title-color: rgb(15, 125, 15);
	--icon-bg-color: #e6e6e6;
}

:root[data-theme='dark'] {
	--bg-color: #222;
	--card-color: #19191c;
	--font-color: #ddd;
	--secondary-font-color: #bbb;
	--outline-color: #666;
	--helping-line-color: #333;
	--error-color: hsl(0, 100%, 65%);
	--primary-color: rgb(17, 110, 17);
	--button-danger-color: rgb(179, 14, 14);
	--focus-color: #2e2e2e;
	--title-color: yellow;
	--icon-bg-color: #444;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	background-color: var(--bg-color);
	color: var(--font-color);
}

a {
	color: inherit;
	text-underline-offset: 2px;
	text-decoration-color: var(--secondary-font-color);

	&:focus-visible {
		outline: 1px solid var(--secondary-font-color);
		outline-offset: 2px;
	}
}

p {
	margin-block: 1rem;
}

h1,
h2 {
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.25rem;
	margin-bottom: 0.75rem;

	&.large {
		font-size: 1.5rem;
	}
}

.app-header {
	display: grid;
	grid-template-columns: 1fr auto;
	padding-block: 1rem;

	.menu {
		display: flex;
		gap: 0.5rem;
	}
}

summary {
	cursor: pointer;
}

input,
button,
select,
textarea,
select {
	font: inherit;
	color: inherit;
	border: none;
	background: var(--bg-color);
}

button {
	cursor: pointer;
}

button:focus-visible {
	outline: 2px solid var(--secondary-font-color);
	outline-offset: 2px;
}

.button {
	background-color: var(--primary-color);
	color: white;
	padding: 0.15rem 0.6rem;
	border-radius: 0.25rem;
	white-space: nowrap;

	&.danger {
		background-color: var(--button-danger-color);
	}

	&:disabled {
		opacity: 0.5;
		cursor: initial;
	}
}

.input-group {
	margin-bottom: 1rem;

	label {
		display: block;
		color: var(--secondary-font-color);
		font-weight: 500;
	}

	input,
	textarea,
	select {
		width: 100%;
		padding: 0.25rem 0.5rem;
		outline: 1px solid var(--outline-color);
		border-radius: 0.25rem;
	}

	input:focus-visible,
	textarea:focus-visible,
	select:focus-visible {
		outline: 1px solid var(--secondary-font-color);
		background-color: var(--focus-color);
	}

	textarea {
		resize: vertical;
		height: 3rem;
	}
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	appearance: textfield;
}

.error {
	color: var(--error-color);
}

.secondary {
	color: var(--secondary-font-color);
}

.list {
	margin-block: 1rem;
	padding-left: 1.25rem;

	li {
		margin-block: 0.5rem;
	}

	&.no-bullets {
		list-style: none;
		padding-left: 0.25rem;
	}
}

.card {
	background-color: var(--card-color);
	padding: 1.2rem 1rem;
	border-radius: 0.5rem;
	margin-bottom: 1.25rem;
}

pre {
	background-color: black;
	color: greenyellow;
	padding: 0.5rem;
	border-radius: 0.25rem;
	overflow: auto;
}

.no-margin {
	margin: 0;
}

.smaller {
	font-size: 0.825rem;
}
